
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0px;
    background-color: #f4f4f4;
    width: 100%;
    font-family: Nunito;
    color: black;
    
  }


  
  .Contacts {
    display: flex; 
    align-items: center;
    
  }

  .contact-heading {
    font-size: 28px;
    width: 145px;
    left: 134px;
    
  }

  .vector{
    width: 12px;
    height: 18px;
    padding-left: 0px;
    padding-right: 35px;
    gap: 0px;
    opacity: 0px;
    margin-left: 0px;
  }
  
  .dots {
    width: 1opx;
    height: 18px;
    padding-left: 35px;
    padding-right: 0px;
    gap: 0px;
    opacity: 0px;

  }
  
  .photo-section {
    margin-bottom: 20px;
  }
  
  .contact-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    align-items: center;
  }

  .name1{
    font-size: 20px;
    font-weight: 600;
    line-height: 27.28px;
    margin-top: 2px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .address{
    font-family: Nunito;
    font-size: 16px;
    margin-top: 0px;
    padding-top: 0px;
  }
  
  .details-section {
    text-align: center;
  }
  
  .details-section h1, .details-section h2, .details-section p {
    margin: 5px 0;
  }
  
  .info, .groups, .account-linked {
    margin: 20px 0;
  }
  
  .more-options button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: rgb(14, 12, 12);
    cursor: pointer;
  }
  
  .more-options button:hover {
    background-color: #45a049;
  }
  